# Dependencies
node_modules
.pnpm-store

# Build
.next
dist
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
coverage
